body {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  margin: 0;
}

.grid-system {
  width: 100%;
  max-width:500px;
  margin:auto;
}

.row {
  width: 100%;
  max-width: 500px;
  //border:1px solid #bbb;
}

.row:before, .row:after{
  content:"";
  display:table;
  clear:both;
}

#navigation {
  position:fixed;
  //margin-top: -10px;
  height:auto;
  z-index:999;
}

a.anchor-name {
    display: block;
    position: relative;
    top: -270px;
    visibility: hidden;
}

a.anchor-title {
  display: block;
  position: relative;
  top: -105px;
  visibility: hidden;
}

.iconStyle {
  width: 15%;
  height: 20%;
  display: inline-block;
  border-radius: 100%;
}

.programmer-list {
  position: relative;
}

.programmer-name {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 55px;

}

.programmer-name h3 {
  margin: 0;
  text-decoration: none;
}

#title-nav {
  font-size:0.8em;
  letter-spacing: 4px;
  text-align: center;
  color:#fff;
  background-color:  #030201;
  padding: 5px 0px 5px 0px;
}

#title-nav h1 {
  margin:0;
}

#buttons-nav {
  position:relative;
}

#buttons-nav ul {
  margin:0;
}

#homeScreen ul div a{
  text-decoration: none;
  color: black;
}

#homeScreen ul {
  margin-left:25px;
}

.nav-button {
  display:inline-block;
  background-color:  #030201;
  width: 80px;
  height: 60px;
  line-height: 80px;
  text-align: center;
  margin-top: -30px;
}

.nav-button a {
  text-decoration: none;
  color: #fff;
}

#nav-home-button {
  position:absolute;
  border-radius:0% 0% 25% 0%;
  left:0;
}
#nav-contact-button {
  position:absolute;
  border-radius:0% 0% 0% 25%;
  right: 0;
}

#homeScreen{
  height: 215px;
}
#name1{
  display: inline-block;
}
.backgroundColor{
  background-color: white;
}


header{
  background-image: url("../images/groupPhoto.jpg");
  height: 90px;
  background-size: cover;
}

header h1{
  //padding-top: 90px;
  text-align:center;
  letter-spacing: 1px;
  color:#fff;
  font-weight: lighter;
  background-color: rgba(55, 55, 55, 0.7);
  margin: 170px auto;
  width: 200px;
}
header a {
  text-decoration: none;
}
.fixed_height{
  height: 250px;
}

#team-section {
  height:auto;
}
#team-section h2, p {
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
}

#projects {
  text-align:center;
  margin-bottom: 10px;
}
.project {
  height: 120px;

}

.projects-line {
  max-width: 320px;
  margin: auto;
}

[class*="col-"] {
  float:left;
  min-height: 1px;
  width: 16.66%;
  padding: 12px;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-6 {
  width: 50%;
  //margin:0px;
  padding:0;
}

.proj-img {
  width: 100%;
  height:100%;
  /*filter:grayscale(90%);*/
}

.profileHeight{
  margin-top: 10%;
  height: auto;

}

.imageStyle{
  border-radius: 100%;
  height: 160px;
  width: auto;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.profile-description {
  text-align: center;
}

.buttons-container {
    padding-bottom: 5%;
}

/*.social-buttons {
  width: 20%;
  left: 50%;
  right: 50%;
  //position: relative;
  max-height: 50px;
  padding: 3%;
  display: table-cell;
  margin-left: auto;
  margin-right: auto;
}

.social-buttons:last-of-type {
  margin-right: 0;
}*/


/*.social-buttons .fa, .fa:active{
  font-size: 24px;
  color: #000;
}*/
.buttons-container .fa, .fa:active{
  font-size: 24px;
  color: #000;
  margin-left: 5%;
  margin-right: 5%;
}

footer {
  background-color: #030201;
  height: 345px;
  text-align: center;
  color: white;
  margin: auto;
}

footer li {
  list-style: none;
  text-align: left;
  margin-left: 5%
}

footer i {
  padding-right: 80%;
}

footer p{
  margin-top: -30px;
}

footer a{
  font-size:35px;
  color: white;
}
