
body {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  margin: 0;
}

.grid-system {
  width: 100%;
  max-width:500px;
  margin:auto;
}

.row {
  width: 100%;
  max-width: 500px;
}
.row:before, .row:after{
  content:"";
  display:table;
  clear:both;
}

[class*="col-"] {
  float:left;
  min-height: 1px;
  width: 16.66%;
  padding: 12px;
}

.col-xs-6 {
  width: 50%;
  padding:0;
}

.col-xs-5 {
  width: 41.6%;
  padding:0;
}

.col-xs-2 {
  width: 16.66%;
  padding:0;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-2 {
  margin-left: 16.66%;
}

.col-xs-offset-1 {
  margin-left: 8.33%;
}

a, h:hover {
  text-decoration: none;
  color: currentColor;;
}

.section-title {
  font-size: 1.9em;
}

#navigation {
  position:fixed;
  height:auto;
  z-index:999;
}

#title-nav {
  font-size:0.8em;
  letter-spacing: 4px;
  text-align: center;
  color:#fff;
  background-color:  #030201;
  padding: 5px 0px 5px 0px;
}

#title-nav h1 {
  margin:0;
  font-family: 'Fjalla One', sans-serif;

}

#buttons-nav {
  position:relative;
}

#buttons-nav ul {
  margin:0;
}

.nav-button {
  display:inline-block;
  background-color:  #030201;
  width: 80px;
  height: 60px;
  line-height: 80px;
  text-align: center;
  margin-top: -30px;
}

.nav-button a {
  text-decoration: none;
  color: #fff;
}

#nav-home-button {
  position:absolute;
  border-radius:0% 0% 25% 0%;
  left:0;
}
#nav-contact-button {
  position:absolute;
  border-radius:0% 0% 0% 25%;
  right: 0;
}

header {
  background-image: url("../images/groupPhoto.jpg");
  height: 250px;
  background-size: cover;
}

header h1{
  text-align:center;
  letter-spacing: 1px;
  color:#fff;
  font-weight: lighter;
  background-color: rgba(55, 55, 55, 0.7);
  margin: 170px auto;
  width: 200px;
  font-family: 'Fjalla One', sans-serif;
  font-size: 40px;
  letter-spacing: 4px;

}
header a {
  text-decoration: none;
}


a.anchor-name {
    display: block;
    position: relative;
    top: -270px;
    visibility: hidden;
}

a.anchor-title {
  display: block;
  position: relative;
  top: -105px;
  visibility: hidden;
}

.iconStyle {
  width: 100%;
  height: 100%;
  display: inline-block;
  border-radius: 100%;
}

.programmer-list {
  height: 420px;
  position: relative;
}

.programmer-box {
  margin-top: 2%;
  height: 90px;
}

.name-container {
  margin-top: auto;
  margin-bottom: auto;
  height: 60px;
  margin-top: 20px;
}

.programmer-img-container {
  margin-top: 15px;
}

.programmer-name {
  text-decoration: none;
  display: inline-block;
}

#name1{
  display: inline-block;
}

#projects {
  text-align:center;
  margin-bottom: 10px;
}

.project {
  height: 120px;

}

.projects-line {
  max-width: 320px;
  margin: auto;
}

.proj-img {
  width: 100%;
  height:100%;
}

#team-section {
  height:auto;
}
#team-section h2, p {
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
}

.profileHeight{
  margin-top: 10%;
  height: auto;
}

.imageStyle{
  border-radius: 100%;
  height: 160px;
  width: auto;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.profile-description {
  text-align: center;
}

.buttons-container {
    padding-bottom: 5%;
}

.buttons-container .fa {
  font-size: 24px;
  color: #000;
  margin-left: 5%;
  margin-right: 5%;
}

footer {
  background-color: #030201;
  height: 400px;
  text-align: center;
  color: white;
  margin: auto;
}

footer li, footer p  {
  list-style: none;
  text-align: left;
  margin-left: 5%
}

footer .fa {
  font-size: 35px;
  margin-right: 5%;
}
